# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Automake related
autom4te.cache
autom4te.cache/*
compile
src/.deps/
src/.deps/*
htslib/.deps/
htslib/.deps/*
libnmf/.deps/
libnmf/.deps/*

# Binaries
src/bcfast
src/vcfast
src/bcfast
src/tinyfast
src/bgzip
src/tabix
src/cramore
htslib/bgzip
htslib/tabix

# Resources
resources
resources/*
test
test/*
